---
layout:
menu_name:
title:
#permalink: imprint.html
hide_in_nav: true
order:
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

{% include navbar.html %}


<!-- *****************************************************************************************************************
 HEADERWRAP
 ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">

            <h3>Imprint</h3>


        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /headerwrap -->


<div id="service">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
               <span>
                  Please contact us via <a href="https://gitter.im/tracee/tracee">gitter</a> if you need support for integrating TracEE into your applications.
               </span>

                <p/>
                <span>
                   This page is sponsored and hosted by:
               </span>

                <p/>
                <a href="https://www.holisticon.de"><img src="/assets/img/sponsors/holisticon-logo-standard.png"
                                                         class="img-responsive"></a>

                <p/>
                <span>
                    Holisticon AG <br/>
                    Griegstraße 75, Haus 25 <br/>
                    22763 Hamburg <br/>
                    Germany <br/>
                </span>

                <p/>

                <span>
                    E-Mail: <a href="mailto:tracee@holisticon.de">tracee@holisticon.de</a><br/>
                    Phone: +49 40 6094 430-77 <br/>
                </span>

                <p/>

                <span>
                    Registergericht Amtsgericht Hamburg, HRB 107396<br/>
                    USt-ID DE253298563<br/>
                    Vorstand Oliver Ihns, Dierk Harbeck<br/>
                    Aufsichtsrat Sune Nilsson (Vorsitzender)<br/>

                </span>
            </div>
        </div>
    </div>
</div>


{% include footer.html %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/js/jquery-1.11.2.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/retina-1.1.0.js"></script>
<script src="/assets/js/jquery.hoverdir.js"></script>
<script src="/assets/js/jquery.hoverex.min.js"></script>
<script src="/assets/js/jquery.prettyPhoto.js"></script>
<script src="/assets/js/jquery.isotope.min.js"></script>
<script src="/assets/js/custom.js"></script>


<script>
    // Portfolio
    (function ($) {
        "use strict";
        var $container = $('.portfolio'),
                $items = $container.find('.portfolio-item'),
                portfolioLayout = 'fitRows';

        if ($container.hasClass('portfolio-centered')) {
            portfolioLayout = 'masonry';
        }

        $container.isotope({
            filter: '*',
            animationEngine: 'best-available',
            layoutMode: portfolioLayout,
            animationOptions: {
                duration: 750,
                easing: 'linear',
                queue: false
            },
            masonry: {}
        }, refreshWaypoints());

        function refreshWaypoints() {
            setTimeout(function () {
            }, 1000);
        }

        $('nav.portfolio-filter ul a').on('click', function () {
            var selector = $(this).attr('data-filter');
            $container.isotope({filter: selector}, refreshWaypoints());
            $('nav.portfolio-filter ul a').removeClass('active');
            $(this).addClass('active');
            return false;
        });

        function getColumnNumber() {
            var winWidth = $(window).width(),
                    columnNumber = 1;

            if (winWidth > 1200) {
                columnNumber = 5;
            } else if (winWidth > 950) {
                columnNumber = 4;
            } else if (winWidth > 600) {
                columnNumber = 3;
            } else if (winWidth > 400) {
                columnNumber = 2;
            } else if (winWidth > 250) {
                columnNumber = 1;
            }
            return columnNumber;
        }

        function setColumns() {
            var winWidth = $(window).width(),
                    columnNumber = getColumnNumber(),
                    itemWidth = Math.floor(winWidth / columnNumber);

            $container.find('.portfolio-item').each(function () {
                $(this).css({
                    width: itemWidth + 'px'
                });
            });
        }

        function setPortfolio() {
            setColumns();
            $container.isotope('reLayout');
        }

        $container.imagesLoaded(function () {
            setPortfolio();
        });

        $(window).on('resize', function () {
            setPortfolio();
        });
    })(jQuery);
</script>
</body>
</html>
