<! -- SIDEBAR -->
<div class="col-lg-4">


    {% include toc_snippet.html %}


    <h4>More bindings</h4>
    <div class="hline"></div>
    <ul class="popular-posts">
        {% assign binding_pages = (site.html_pages | where:"dir", "/bindings" | sort:"title" %}
        {% for ob in binding_pages %}
        {%if ob.url != page.url %}
        <li>
            <p><a href="{{ ob.url }}">{{ ob.title }}</a></p>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    <div class="spacing"></div>

    {% include see_also_snippet.html %}

</div>
</div><! --/row -->
</div><! --/container -->