<! -- SIDEBAR -->
<div class="col-lg-4">


    {% include toc_snippet.html %}


    <h4>Other bindings</h4>
    <div class="hline"></div>
    <ul class="popular-posts">
        {% for ob in site.html_pages | where:"dir", "/bindings" | sort:"title" %}
        {%unless ob.url == page.url %}
        <li>
            <p><a href="{{ ob.url }}">{{ ob.title }}</a></p>
        </li>
        {% endunless %}
        {% endfor %}
    </ul>
    <div class="spacing"></div>

    {% include see_also_snippet.html %}

</div>
</div><! --/row -->
</div><! --/container -->