<! -- SIDEBAR -->
<div class="col-lg-4">


    {% include toc_snippet.html %}

    <h4>Supported Bindings</h4>
    <div class="hline"></div>
    <ul class="popular-posts">
        {% assign binding_pages = (site.html_pages | where:"dir", "/bindings" | sort:"title" | sort:"order"  %}
        {% for ob in binding_pages %}
        {%if ob.url != page.url %}
        {% assign title = ob.title %}
        {% if ob.menu_name != null %}
        {% assign title = ob.menu_name %}
        {%endif%}
        <li>
            <p><a href="{{ ob.url }}">{{ title }}</a></p>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    <div class="spacing"></div>

</div>
</div><! --/row -->
</div><! --/container -->
