<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>About</h4>
                <div class="hline-w"></div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="col-lg-4">
                <h4>Social Links</h4>
                <div class="hline-w"></div>
                <p class="center-block">
                    <a href="https://github.com/tracee/tracee"><i class="fa fa-github" title="GitHub"></i></a>
                    <a href="https://twitter.com/hashtag/tracee"><i class="fa fa-twitter" title="#tracee"></i></a>
                    <a href="https://stackoverflow.com/questions/tagged/tracee"><i class="fa fa-stack-overflow" title="SO-Questions tagged with tracee"></i></a>
                </p>
            </div>
            <div class="col-lg-4">
                <h4>Developed by</h4>
                <div class="hline-w"></div>
                <ul>
                    <li><a href="#">@danielwegener</a></li>
                    <li><a href="#">@tobiasgindler</a></li>
                    <li><a href="#">@SvenBunge</a></li>
                </ul>
            </div>

        </div><! --/row -->
        <p class="centered">Web-Template based on <a href="http://www.blacktie.co/2014/05/solid-multipurpose-theme/">SOLID</a> by <a href="http://www.blacktie.co/">Carlos Alvarez</a> and remixed according to the <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>.</p>
    </div><! --/container -->
</div><! --/footerwrap -->