<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->

    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="/assets/js/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!--<script src="/assets/js/modernizr.js"></script>-->
    
    <!-- favicon -->
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">
    <link rel="icon" type="image/png" href="/assets/ico/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/assets/ico/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/assets/ico/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/ico/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/ico/favicon-32x32.png" sizes="32x32">
</head>