<!-- *****************************************************************************************************************
	 OUR CLIENTS
	 ***************************************************************************************************************** -->
<div id="cwrap">
    <div class="container">
        <div class="row centered">

            <h3>SPONSORED BY</h3>
            <a href="https://www.holisticon.de"><img src="/assets/img/sponsors/holisticon-logo-standard.png" class="img-responsive center-block"></a>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/cwrap -->